@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom Theming for Angular Material
@use '@angular/material' as mat;

@include mat.core();

// Define the theme object.
$frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$indigo-palette,
    tertiary: mat.$rose-palette,
  ),
  typography: (
    plain-family: 'Inter, sans-serif',
    brand-family: 'Inter, sans-serif',
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($frontend-theme);
  @include mat.typography-hierarchy($frontend-theme);
}

/* You can add global styles to this file, and also import other style files */
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-900;
}

// Global Customizations to override default Material styles to match the modern aesthetic
.mat-mdc-card {
  @apply shadow-sm border border-gray-200 rounded-xl !important;
}

.mat-mdc-button, .mat-mdc-raised-button, .mat-mdc-outlined-button {
  @apply rounded-lg !important;
}
